{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.name) }}
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                    {{ form_row(form.start_date) }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                    {{ form_row(form.end_date) }}
                </div>
            </div>
            {{ form_row(form.description) }}
            {{ form_row(form.image) }}
            {{ form_row(form.capacity) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.email) }}
            {{ form_row(form.phone_number) }}
            {{ form_row(form.address) }}
            {{ form_row(form.url) }}
            {{ form_row(form.type) }}
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        </div>
    </div>
{{ form_end(form) }}


