{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
<div class="container">
<div class="card-columns">
    {% for event in events %}
    <div class="card">
      <img class="card-img-top" src=".../100px160/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ event.name }}</h5>
        <p class="card-text">{{ event.description }}</p>
        <p class="card-text">Address: {{ event.address }}</p>
        <p class="card-text">Dates: <br>
          Event start: {{ event.startDate ? event.startDate|date('Y-m-d H:i:s') : '' }}<br>
          Event end: {{ event.endDate ? event.startDate|date('Y-m-d H:i:s') : '' }}
        </p>
        <a class="btn btn-light" href="{{ path('event_show', {'id': event.id}) }}">Learn more</a>
        {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-warning" href="{{ path('event_edit', {'id': event.id}) }}">Edit</a>
        <a class="btn btn-danger" href="{{ path('event_delete', {'id': event.id}) }}">Delete</a>
        {% endif %}
        <!-- <p class="card-text">Email: <br>{{ event.email }}</p>
        <p class="card-text">Telephone Number: <br>{{ event.phoneNumber }}</p>
        <p class="card-text">Capacity: <br>{{ event.capacity }}</p> -->
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock %}