{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4 img-left">
            <img src="{{ asset('images/' ~ event.image ) }}">
        </div>
        <div class="col-lg-8">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ event.name }}</td>
                    </tr>
                    <tr>
                        <th>Start_date</th>
                        <td>{{ event.startDate ? event.startDate|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>End_date</th>
                        <td>{{ event.endDate ? event.endDate|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ event.description }}</td>
                    </tr>
                    <tr>
                        <th>Capacity</th>
                        <td>{{ event.capacity }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ event.email }}</td>
                    </tr>
                    <tr>
                        <th>Phone_number</th>
                        <td>{{ event.phoneNumber }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ event.address }}</td>
                    </tr>
                    <tr>
                        <th>Url</th>
                        <td>{{ event.url }}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{ event.type }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <a class="btn btn-light mt-3 mb-5" href="{{ path('event_index') }}">Back</a>

</div>

{% endblock %}